@import "compass/reset";
@import "compass/css3";

#container {
  height: 100%;
  width: 100%;
  display: inline;
  canvas {
    height: 900px;
    width: 900px;
    margin:{
      left: 10px;
      top: 10px;
    }
  }
}

button{
  display: inline;
}
